/**
 * @param (string) : valeur de la propriété transform - Ex : translate(-50%) rotateZ(45deg)
 */
@mixin transform($value)
	-moz-transform: #{$value}
	-o-transform: #{$value}
	-ms-transform: #{$value}
	-webkit-transform: #{$value}
	transform: #{$value}

/**
 * @param (string) : valeur en milisecondes du temps de la transition - Ex : 100ms
 */
@mixin transition($value)
	-o-transition: all linear #{$value}
	-ms-transition: all linear #{$value}
	-moz-transition: all linear #{$value}
	-webkit-transition: all linear #{$value}
	transition: all linear #{$value}
