// Couleurs
// ================================================

// base
$black: #010101
$white: #fefefe
$graybold: #60777d

// principales
$blue: #0465ac
$purple: #a40078
$green: #b6c628
$orange: #dd9117
$lightblue: #2e8fc4
$gray: #5b6268
$lightgray: #efefef


// attention : ces couleurs sont parfois utilisées en javascript, et devront donc être modifiées également dans le code js.

//spécifiques
$col-link: #EE8686
$fb: #3b5998
$tw: #55acee
$yt: #bb0000

// Dimensions
// ================================================
$header-h: 60px

// Breakpoints 
// ================================================
$xs-max: 757px
$sm-min: 758px
$sm-max: 991px
$md-min: 992px
$md-max: 1199px
$lg-min: 1200px

