// PAGE GÉNÉRIQUE
// =================================================================

main 
	h1
		padding: 60px
		text-align: center
		font-size: 3.2rem
		position: relative

	.container-content
		background: darken($white, 1%)
		padding: 80px

	section.content 
		padding: 80px
		background: $white
		text-align: justify
		margin: auto
		border: 1px solid darken($white, 7%)
		position: relative

		ul 
			padding-left: 40px

		p, ul 
			margin: 25px 0
			word-break: break-word // pour chrome
			+prefixes(hyphens, auto) // gestion des césures

		img 
			margin: 20px 0
			max-width: 100%
			height: auto

		.imp 
			overflow: auto
			padding: 30px 0

			p:first-of-type 
				margin: 20px
				vertical-align: middle
				display: inline-block

			p:not(:first-of-type)
				text-align: left !important
				width: calc(100% - 150px)
				display: inline-block

		h2 
			padding-left: 15px 

			&:after
				display: none // on reset le style des titres

			&:before
				content: ''
				width: 5px
				height: 40px
				position: absolute
				bottom: -3px
				left: 0px 
				background: $graybold
				vertical-align: top

		h3
			font-size: 22px

		a 
			color: $col-link
			font-weight: 500

			&:hover 
				text-decoration: underline

	.nav-content
		&.active
			position: fixed
			width: 200px
			transition: all ease 250ms

		ul 
			list-style: none

			li 
				padding: 10px 0

			a 
				font-weight: bold
				color: $blue

				&:hover
					color: $blue
					text-decoration: underline

	.nav-content.active + .content 
		margin-left: 200px

	table
		th
			strong
				color: $white

		tr 
			td 
				padding: 15px